 <!-- Portfolio Modals -->
 {% for post in site.tags.portfolioproject %}
    <div class="portfolio-modal modal fade" id="portfolioProjectModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
		<nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header page-scroll">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li class="hidden active">
							<a href="#page-top"></a>
						</li>
						<li>
							<a class="page-scroll" href="#about" data-dismiss="modal">About</a>
						</li>
						<li>
							<a class="page-scroll" href="#portfolio" data-dismiss="modal">Portfolio</a>
						</li>
						<li>
							<a class="page-scroll" href="#contact" data-dismiss="modal">Contact</a>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p>{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>
                                    <strong>{{ post.client }}</a>
                                    </strong>
                                </li>
                                <li>Date:
                                    <strong>{{ post.project-date }}</a>
                                    </strong>
                                </li>
                            </ul>
							{{post.content}}
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
